@import url('https://fonts.googleapis.com/css2?family=Galada&family=Quicksand:wght@300..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');


    *{
      text-decoration: none; 
      color: #000;
      margin: 0;
      padding: 0;
      scroll-behavior: smooth;
    
      
    }
  

    header nav{
      position: fixed;
      width: 100%;
      height: 45px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 20px 0%;
      background: white;
      border-bottom: 2px solid rgb(0, 0, 0);
      
    }

    body{
      background: #FFF;
      height: 100%;   
    }

    nav #search{
      position: relative;
      font-size: 1.9rem;
      margin-left: 25px;
      cursor: pointer;
    }
  

  nav a.logo{
    position: relative;
    margin: auto;
    font-family: "Galada";
    font-weight: 400;
    color: #000000;
    font-size: 40px;
  }

  nav #cart-icon {
    position: relative;
    font-size: 1.8rem;
    margin-right: 25px;
    cursor: pointer;
  }


  nav #cart-icon::after{
  content: attr(data-quantitiy);
  position: absolute;
  top: 0;
  right: -10px;
  width: 15px;
  height: 15px;
  background: rgb(0, 63, 238);
  border-radius: 50%;
  color: rgb(253, 253, 255);
  font-size: 12px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  }

 
   .cart{
    position: fixed;
    right:-100%;
    top: 0;
    width: 360px;
    min-height: 100vh;
    padding: 20px;
    background: #FFF;
    z-index: 1;
   }
   .cart.active{
    right: 0;
   }
   .cart-title{
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 2rem;
    
   }

   .cart-box{
    display: grid;
    grid-template-columns: 32% 50% 18%;
    align-items:center;
    gap: 1rem;
    margin-top: 1rem;
   }

   .cart-img{
    width: 100px;
    height: 100px;
    object-fit: contain;
    padding: 10px;
   }

   .detail-box{
    display: grid;
    row-gap: 0.9rem;
   }
   
   .cart-product-title{
    font-size: 1.4rem;
    text-transform: uppercase;
   }

   .cart-price{
    font-size: 1rem;
    font-weight: 500;
   }

   .cart-quantity{
    border: 1px solid black;
    outline-color: rgb(25, 0, 255);
    width: 2.4rem;
    text-align: center;
    font-size: 1rem;
   }

   .cart-remove{
    font-size: 24px;
    color: red;
    cursor: pointer;
    
   }
   .total{
    display: flex;
    justify-content: flex-end;
    margin-top: 1.5rem;
    border-top: 1px solid black;
   }

   .total-title{
    font-size: 1rem;
    font-weight: 600;
   }

   .total-price{
    margin-left: 0.5rem;
   }
   .bnt-buy{
    display: flex;
    margin: 1.5rem auto 0 auto;
    padding: 12px 20px;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;

   }

   .bnt-buy:hover{
    color:green;

   }

   #close-cart{
    position: absolute;
    top: 1rem;
    right: 0.7rem;
    font-size: 2rem;
    color: red;
    cursor:pointer;

   } 

  .login button{
    position: absolute;
    padding: 10px 30px;
    cursor: pointer;
    background-color: transparent;
    border:none;
    color: #040018;
    right: 5%;
    top: 25px;
    font-size: 30;
  }
 


    .carro{
      height: 100%;
      width: 100%;
      min-height: 100vh;
      display: grid;
      grid-template-columns: repeat(6,1fr);
      align-items: center;
      gap: 5rem;
      
    }

    section{
      padding: 0 10%;
      padding-top: 0%;
      
    }

    .carro-txt p{
      width: 403px;
      height: 203px;
      flex-shrink: 0;
      color: #000;
      text-shadow: 7px 4px 4px rgba(0, 0, 0, 0.25);
      font-family: Ubuntu;
      font-size: 48px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      margin-bottom: 10px;
      z-index: 3;
     
    }

    .carro-img{ 
  
      width: 600;
      height: auto;
     
    }
     

     .shop{
      margin-top: 2rem;
     }

     .produtos{
      display: grid;
      grid-template-columns:repeat(auto-fit,minmax(220px, auto));
      gap: 1.5rem;
      
     }

     .produto-box {
      position: relative;
     }

     .produto-box:hover{
      padding: 10px;
      border: 1px solid black;
      transition: 0.4s;

     }
     .produtos img{
      width: 100%;
      height: auto;
      margin-bottom: 0.5rem;
    }
    .price{
      font-weight: 500;
    }

     .produto-titulo{
      font-size: 1.1rem;
      font-weight: 600;
      text-transform: uppercase;
      margin-bottom: 0.5rem;
     }

     .cart-add{
      position: absolute;
      bottom: 0;
      right: 0;
      background: #1a0aff;
      color: #FFF;
      padding: 10px;
      cursor: pointer;
     }
     
     #cart-add:hover{
      background-color: #040018;
     }
  
